.container1 {
  position: relative;
  height: 75vh;
}
.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 60px;
  font-size: 35px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 60px;
  font-size: 35px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.contentWrapper {
  background: linear-gradient(
    90deg,
    rgba(0, 6, 8, 0.767),
    rgba(255, 255, 255, 0.027)
  );
  width: 100%;
  height: 100%;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: flex-end;
  padding: 4.5rem 0 4.5rem 7rem;
}

.button {
  height: 50px;
}

.title {
  color: var(--primaryColor);
  font-weight: 500;
  font-size: 4.7rem;
  line-height: 6.5rem;
  margin-bottom: 2.5rem;
  animation: fade 5s infinite;
  animation-delay: 5.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title span {
  color: var(--secondaryColor);
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .rightArrowStyles,
  .leftArrowStyles {
    display: none;
  }
  .contentContainer {
    width: 100%;
    padding: 3.5rem 2rem;
  }
  .title {
    font-size: 2rem;
    line-height: normal;
  }
}
